body {

	font-family: Helvetica, sans-serif;
	font-size: 100px;
	
	color: cyan; 
	background-image: url("bg/zach_contour.png");
	background-size: cover; 
	

}

a {
	color:red;
}








.links {
	position:fixed;
	top:20px;
	left:20px;
	margin: auto; 

	

	
}

.links a{

	text-decoration: none;

	color: #242424;
	
	display: block;
	font-family: Helvetica, sans-serif;
	
}

.links a:hover{
	color:cyan;
	

}

.name {
	font-size: 150px;
	color: #242424;
	text-align: center;
	
}

.copy {
	font-size:14px;
	text-align: center;
	position: fixed; 
	bottom: 0; 
	left: 0;
	
	text-transform: uppercase;
	color: #242424;
	background-color: cyan;
	width: 100%; 
	padding: 5px; 
}


.bounce {
	font-size: 24px; 
    animation:bounce 10s linear 100;
  }

 @keyframes bounce{
    0%{
      transform:translate(0px,0px);
     
      }
    25%{
       transform:translate(1000px,200px);
      
      }
    50%{
       transform:translate(1200px,100px);  
      
      }
     75%{
       transform:translate(50px,300px);
        

       }
   100%{
      transform:translate(0px,0px);
      
      }   
   }

}


p{
text-align: left;
font-size: 24px; 

}



