body { 
	background-color:#34ebcd; 
	font-family:arial; 
 }

.bg {
	text-align: center;
}

.bg.one {
	text-shadow: 10px 10px 1px #61d0ff;
	display: inline-block; 
	background-image: linear-gradient(cyan,#fa895c)
}

.bg.two {
	text-shadow: 10px 10px 40px #7961ff; 
	display: block;
}

.bg.three {
	text-shadow: 40px 10px 10px #fa895c; 
	
}

.bg.four {
	text-shadow: 10px 10px 1px #61d0ff; 
	display: inline;
}

.mid {
	color: white;
}

.mid.one {
	color: #fff64a;
	font-weight: bold;
	text-align: right;
}

.mid.two {
	color: #12a8ff;
	text-align: center;
}

.mid.three {
	color: #34ebcd;
	font-weight: bolder;
}

.mid.four {
	color: #c0fa5c;
}

.text {
	
}

.text.one {
	font-size: 30px;
}

.text.two {
	font-size: 60px;
}

.text.three {
	font-size: 150px;
}

.text.four {
	font-size: 300px;
	line-height: 235px;
}