body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-image: url(file:///C:/Users/Duckie/Desktop/dpub/WeirdSignals/assets/images/weblayout.png);
	
	background-repeat: no-repeat;
	background-size: cover; 
	position: relative;

	



}

a {
	color:red;
	
	

}

* {
	/*outline: 1px solid blue; */

	 
}

.menu {
	width: 75px;
	height: 75px; 
	border-radius: 100%;
	background-color: #3953a4; 
	background-image: url(file:///C:/Users/Duckie/Desktop/dpub/WeirdSignals/assets/images/Bee.png); 
	background-size: cover;  
	position: fixed;
	right: 10px; 
	top: 10px; 
	cursor: pointer;


}

.close {
	width: 75px;
	height: 75px;
	background-color: #faa21b;
	background-image: url(file:///C:/Users/Duckie/Desktop/dpub/WeirdSignals/assets/images/SmallFlower_Inverted.png); 
	background-size: cover;  
	position: fixed;
	right: 10px;
	top: 10px; 
	cursor: pointer; 
	z-index: 10; 
	display: none; 

}

.close.show {
	display: block;

}


.essay	{
	width: 66%;
	height: 100vh;
	background-color: #7b0e0e;
	position: fixed;
	right:0px;
	top:0px;
	overflow: scroll;
	margin-right:-66%;
	transition: 1s;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: white;
	letter-spacing: 1px;
	padding: 10px;
}

.essay.slide {
	margin-right: 0;
	transition: 1s;
}

.essay h1 {
	font-size: 56px;
	text-align: center;
	font-family: georgia;
	color: white; 
	padding: 10px; 



}

.essay p {
	padding: 5%;
	line-height: 1.25; 
}


.container {
	display: flex;
	flex-wrap:wrap;

}



.w1of1 {
	width:100%;


}

.w1of2 { 
	width:50%;

}

.w1of3 {
	width:33%;

}

.w2of3 {
	width:66%;
}

.w1of4 {
	width: 25%;
}

/*header*/


.header {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 20px; 
	text-align: center;
	height: 100px;
	justify-content: center;
}

/*end header*/ 

/*blocks*/

.blocks {
	
	height: 1200px;
	justify-content: center;
	align-items: center;
	
}

.letter {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
	justify-content: center;

}


.letter div {
	width: 34%; height: 34vw; border: #fff0d1 50px solid;


}



.letters1 {
	background-image: url(file:///C:/Users/Duckie/Desktop/dpub/WeirdSignals/assets/images/ILLUMINATED_W.png);
	
	
	background-size: cover;

	

}

.letters1:hover {
	background-image: url(file:///C:/Users/Duckie/Desktop/dpub/WeirdSignals/assets/images/ILLUMINATED_W_Green.png);
	background-size: 100%;
}

.letters2 {
	background-image: url(file:///C:/Users/Duckie/Desktop/dpub/WeirdSignals/assets/images/ILLUMINATED_A.png);
	
	
	background-size: cover;
	
}

.letters2:hover {
	background-image: url(file:///C:/Users/Duckie/Desktop/dpub/WeirdSignals/assets/images/ILLUMINATED_A_Blue.png);
	background-size: 100%;

}

.letters3 {
	background-image: url(file:///C:/Users/Duckie/Desktop/dpub/WeirdSignals/assets/images/ILLUMINATED_S.png);
	
	background-size: cover;
	
}

.letters3:hover {
	background-image: url(file:///C:/Users/Duckie/Desktop/dpub/WeirdSignals/assets/images/ILLUMINATED_S_Orange.png);
	background-size: 100%;

}

.letters4 {
	background-image: url(file:///C:/Users/Duckie/Desktop/dpub/WeirdSignals/assets/images/ILLUMINATED_D.png);
	
	background-size: cover;
}

.letters4:hover {
	background-image: url(file:///C:/Users/Duckie/Desktop/dpub/WeirdSignals/assets/images/ILLUMINATED_D_Red.png);
	background-size: 100%;

}

/*end blocks*/

/*keys*/


.keys {
	background-image: url(file:///C:/Users/Duckie/Desktop/dpub/WeirdSignals/assets/images/FlowerBackingImage.png);
	background-size: cover;	
	
	height: 1200px; 
	display: flex;
	justify-content: center;
	align-items: left;
	padding: 15%; 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 70px; 
	animation-name: colourchange;
	animation-duration: 20s;
	animation-direction: alternate;
	animation-iteration-count: infinite;

	
}

@keyframes colourchange {
	0% {color:black;}
	25% {color: blue;}
	50% {color: lightgreen;}
	75% {color: orange;}
	100% {color: red;}
	
}
	




/*end keys*/ 


/*kernel*/

.kernel {
	
	height: 1200px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	justify-content: center;
	align-items: center;
	font-size: 25px;

}


textarea {
	font-size: .8rem;
	letter-spacing: 1px; 
	padding: 10px; 
	line-height: 1.5;
	border-radius: 5px; 
	border: 1px solid #ccc; 
	box-shadow: 1px 1px 1px #999;
}


/*end kernel*/


/*digital*/ 

.digital {
	
	height: 1200px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 200px;
}

.text {
	line-height: 20px;
}



/*end digital*/ 

/*footer*/


.footer {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 20px; 
	text-align: center;
	height: 100px;
	
}



/*end footer*/ 